html {
    font-family: 'Play', sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 130px;
    color: white;    
}

article {
    width: 45%;
    float: left;
    margin: 2%;
}



input {
    display: block;
    margin: 0 0 1rem 0;
}

img {
    max-width: 100%;
}

header img {
    width: 100px;
    margin-left: 1rem;
    display: inline;
    float: left;
    margin-top: 1rem;
}

header h1 {
    text-align: center;
    font-size: 5rem;
    padding-top: 1.5rem;
}

h2 {
    background-color: #222;
    color: white;
    width: 177px;
    text-align: center;
}

/*IDS*/

#soma, #subtracao, #divisao, #multiplicacao, #restodivisao {
    position: absolute;
}

#soma {
    left: 30px;
}

#subtracao {
    left: 250px;
}

#divisao {
    left: 470px;
}

#multiplicacao {
    left: 690px;
}

#restodivisao {
    left: 910px;
}





/*Classes*/
.buttonjava {
    background-color: rgb(255, 217, 0);
    color: black;
}

@media(max-width: 1180px){
    #restodivisao {
        left: 30px;
        top: 350px;
    }

}

@media(max-width: 923px){
    #multiplicacao {
        left: 250px;
        top: 350px;
    }

}

@media(max-width: 685px){
    #divisao {
        left: 30px;
        top: 570px;
    }

}

@media(max-width: 542px) {
    header{
        height: 110px;
    }
    header img {
        width: 80px;
    }
    header h1 {
        font-size: 4rem !important;
    }

    @media(max-width: 450px){
        #multiplicacao {            
            top: 790px;
        }
        #subtracao {            
            top: 1010px;
        }

        #soma, #subtracao, #divisao, #multiplicacao, #restodivisao {
            left: 90px;
        }
    
    }

    @media(max-width: 435px) {
        header{
            height: 80px;
        }
        header img {
            width: 50px;
        }
        header h1 {
            font-size: 3rem !important;
            padding-top: 1rem !important;
        }
    }

    @media(max-width: 312px) {
        header{
            height: 50px;
        }
        header img {
            width: 30px;
            margin-left: .5rem;
            margin-top: .5rem;
        }
        header h1 {
            font-size: 2rem !important;
            padding-top: .5rem !important;
        }
    }
}